<h1>Team creation</h1>
<ul ng-repeat="player in team.race.playerTypes">
  <li ng-click="team.addPlayer(player.title)">{{player.title}}</li>
</ul>

<p>Treasury: {{team.treasury}}</p>
<table>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Type</th>
    <th>MA</th>
    <th>ST</th>
    <th>AG</th>
    <th>AV</th>
    <th>Skills</th>
  </tr>
  <tr ng-repeat="player in team.players track by $index">
    <td>{{player.number}}</td>
    <td>{{player.name}}</td>
    <td>{{player.type}}</td>
    <td>{{player.ma}}</td>
    <td>{{player.st}}</td>
    <td>{{player.ag}}</td>
    <td>{{player.av}}</td>
    <td><span ng-repeat="skill in player.skills">{{skill}}, </span></td>
  </tr>
</table>
