<h1>{{race.name}}</h1>

<p>{{race.description}}</p>

<table>
  <tr>
    <th>Qty</th>
    <th>Title</th>
    <th>Cost</th>
    <th>MA</th>
    <th>ST</th>
    <th>AG</th>
    <th>AV</th>
    <th>Skills</th>
    <th>Normal</th>
    <th>Double</th>
  </tr>
  <tr ng-repeat="player in race.players">
    <td>{{player.max}}</td>
    <td>{{player.title}}</td>
    <td>{{player.cost}}</td>
    <td>{{player.ma}}</td>
    <td>{{player.st}}</td>
    <td>{{player.ag}}</td>
    <td>{{player.av}}</td>
    <td><span ng-repeat="skill in player.skills">{{skill}}, </span></td>
    <td><span ng-repeat="type in player.normal">{{type}}, </span></td>
    <td><span ng-repeat="type in player.double">{{type}}, </span></td>
  </tr>
</table>

<p>0-{{race.rerollCap}} Re-roll counters: {{race.rerollPrice}} gold pieces each</p>
