<!DOCTYPE html>
<html ng-app="dugoutApp" ng-controller="RaceListCtrl">

<head>
  <title ng-bind-template="The Dugout{{query.name.length > 0 ? ': ' + query.name : ''}}">The Dugout</title>
  <script src="bower_components/angular/angular.js"></script>
</head>

<body>

  <h1>The Dugout</h1>

  <p>Number of teams: {{races.length}}</p>
  <p>Search: <input ng-model="query.name">

  <ul class="races">
    <li ng-repeat="race in races | filter:query">
      <a href="#/races/{{race.id}}">{{race.name}}</a>
      <p>{{race.description}}</p>
    </li>
  </ul>

  <script src="js/controllers.js"></script>
</body>

</html>
